*,::before,::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Manrope', sans-serif;
    background-color: hsl(210, 46%, 95%);
    font-weight: 500;
}

.card{
    display: flex;
    position: absolute;
    width: 730px;
    height: 280px;
}

.product_image{
    width: 285px;
    height: auto;
    background-image: url(images/drawers.jpg);
    background-size: cover;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 40px 40px -10px rgba(201, 213, 225, 0.503415);
}

.right_container{
    width: 445px;
    padding: 32px 40px;
    background: #FFFFFF;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 40px 40px -10px rgba(201, 213, 225, 0.503415);
}

h1{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.25px;
    padding: 0;
    color: #48556A;
}

.description{
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.121875px;
    padding-top: 12px;
    color: #6E8098;
}

/* Submitter Part */

.submitter{
    padding-top: 20px;
    width: auto;
    height: 40px;
    display: flex;
}

.submitter_picture{
    background: url(images/avatar-michelle.jpg);
    width: 40px;
    height: 40px;
    border-radius: 999px;
    background-size: cover;
}

.name_date{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 16px;
}

h2{
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.121875px;
    color: #48556A;
}

.date{
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.121875px;
    color: #9DAEC2;
}

.share{
    position: relative;
    top:4px;
    margin-left: auto;
    background-image: url(images/icon-share.svg);
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ECF2F8;
    border-radius: 999px;
    transition: background-color .3s ease-in-out;
    cursor: pointer;
}

.share_toggle{
    background-image: url(images/icon-share_white.svg);
    background-color: #6E8098;
    transition: background-color .3s ease-in-out;
}

.share_container{
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #48556A;
    width: 248px;
    height: 55px;
    position: absolute;
    top: 140px;
    left: 550px;
    box-shadow: 0 10px 10px rgba(201, 213, 225, 0.503415);
    border-radius: 10px;
}

.square{
    opacity: 0;
    background-color: #48556A;
    width: 17px;
    height: 17px;
    position: absolute;
    box-shadow: 8px 8px 5px rgba(201, 213, 225, 0.503415);
    transform: rotate(45deg);
    top: 45px;
}

.share_text{
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9DAEC2;
}

.logo_facebook{
    background-image: url(images/icon-facebook.svg);
    width: 20px;
    height: 20px;
    background-size: cover;
    margin-left: 21px;
}

.logo_twitter{
    background-image: url(images/icon-twitter.svg);
    width: 20px;
    height: 16.25px;
    background-size: cover;
    margin-left: 16px;
}

.logo_pinterest{
    background-image: url(images/icon-pinterest.svg);
    width: 20px;
    height: 20px;
    background-size: cover;
    margin-left: 16px;
}

.show{
    opacity: 100;
    transition: opacity .3s ease-in-out;
}

/* Footer */

footer{
    position: absolute;
    bottom: 10px;
    font-size: 10px;
    color: #6E8098;
}

@media (max-width: 940px) {
    
    .card{
        flex-direction: column;
        width: 327px;
        height: 512px;
    }

    .product_image{
        width: auto;
        height: 200px;
        border-radius: 10px 10px 0 0;
    }

    .right_container{
        width: auto;
        height: 312px;
        padding: 36px 32px 0 32px;
        box-shadow: 0 40px 40px -10px rgba(201, 213, 225, 0.503415);
        border-radius: 0 0 10px 10px;
    }

    h1{
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.2px;
    }

    .submitter{
        padding-top: 32px;
        height: 40px;
        display: flex;
    }

    .share_container{
        opacity: 0;
        justify-content: left;
        padding-left: 32px;
        width: 327px;
        height: 64px;
        top: 448px;
        left: 0;
        border-radius: 0 0 10px 10px;
    }

    .share{
        z-index: 10;
        position: relative;
    }

    .square{
        box-shadow: 0 0 0;
        background-color: transparent;
    }

    .show{
        opacity: 100;
        transition: opacity 0.2s ease-in-out;
    }

    .share_toggle{
        position: relative;
        top:12px
    }
}
